<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<form method="POST" action="/city">
    <select name="the_region_selected"  style="width: 300px;height: 50px;background-color: lightblue;">
        {% for item in the_select_region %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
<p><input value="Let's Search!" type='SUBMIT' style="width: 300px;height: 40px;"></p>
</form>
{{ the_plot_all|safe }}
{{ the_res|safe }}


</body>
</html>